.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-black);
}

.container {
    width: 370px;
    background: var(--color-black);
    min-height: 200px;
    border: 1px solid var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}