.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Diploma';
    font-size: var(--fz-l);
}

.main {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.container {}