:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #504E50;
    --color-pink: #FFC0CB;

    --color-menu: 221, 231, 245;

    --fz-s: 12px;
    --fz-r: 30px;
    --fz-l: 45px;

    --container-width: 1600px;
    --container-padding: 20px;
}